*{
  margin:0;
  padding: 0;
  font-family:'Space Mono', monospace;
}

body{
  background-image: url('Images/blood.gif');
  background-size: cover;
}

#nav{
  height: 30px;
}

.nav-item{
  display: inline;
  list-style: none;
  color: white;
  font-size: larger;
  position: relative;
  left:80px;
  padding: 25px;
}

#nav h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: 50px;
  padding-top: 10px;
  color: white;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
}

.body-area{
  background-color: darkgray;
  margin: 73px;
  height: 1500px;
}